<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Note</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <div class="container-note">
    <h1>
      <%= heading %>
    </h1>

    <% if (locals.note) { %>
      <form method="post" action="/editnote/<%=note._id%>">
        <input type="text" name="title" value="<%=note.title %>">
        <textarea id="content" rows="10"><%=note.content %></textarea>

        <select name="project">
          <option value="Spring Campaign" <%= note.project === 'Spring Campaign' ? 'selected' : '' %>>Spring Campaign</option>
          <option value="Product Launch" <%= note.project === 'Product Launch' ? 'selected' : '' %>>Product Launch</option>
        </select>

        <!-- <input type="text" name="project" value="<%=note.project %>"> -->
        
        <input type="text" name="person" value="<%=note.person %>">
        <select name="category">
          <option value="Unstarted" <%= note.category === 'Unstarted' ? 'selected' : '' %>>Unstarted</option>
          <option value="In-progress" <%= note.category === 'In-progress' ? 'selected' : '' %>>In-progress</option>
          <option value="Completed" <%= note.category === 'Completed' ? 'selected' : '' %>>Completed</option>
        </select>
        
        <button class="full-width" type="submit">
          <%= submit %>
        </button>
      </form>

      <% } else {%>
        <form method="post" action="/newnote">
          <input type="text" name="title" placeholder="Title" required>
          <textarea name="content" placeholder="Content" required rows="10"></textarea>

          <select name="project">
            <option value="Spring Campaign">Spring Campaign</option>
            <option value="Product Launch">Product Launch</option>
          </select>
          <!-- <input type="text" name="project" placeholder="Project" required> -->

          <input type="text" name="person" placeholder="Person" required>
          <select name="category">
            <option value="Unstarted">Unstarted</option>
            <option value="In-progress">In-progress</option>
            <option value="Completed">Completed</option>
          </select>
          <button class="full-width" type="submit">
            <%= submit %>
          </button>
        </form>
        <% } %>

  </div>
</body>

</html>