
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</head>

<body>

  <div class="wrapper">

    
      <div class="left-content left-bar">

        <div class="logo">
            <i class="bi bi-clipboard2-check"></i>
            <span class="logo-name">Task FLow</span>
          </div>
  

        <ul class="action-list">

          <li >
            <a href="/">
                <i class="bi bi-house"></i>
              <span class="link-name">My Actions</span>
            </a>
          </li>
          <li>
            <a href="/Spring Campaign">
            <i class="bi bi-folder"></i>
            <span>Spring Campaign</span>
            </a>
          </li>
          <li>
            <a href="/Product Launch">
              <i class="bi bi-folder"></i>
            <span>Product Launch</span>
            </a>
          </li>
        </ul>
      </div>
   
      <div class="page-content">
        <h1>My Actions</h1>
        
        <h3><a id="newPostBtn" href="/new">New Post</a></h3>

        <div class="container">
          <h1 class="category-header">Unstarted</h1>
          <ul id="unstartedNotesList">
            <% notes.forEach(note => { %>
              <% if (note.category === 'Unstarted') { %>
                <li>
                  <h2><%= note.title %></h2>
                  <p><%= note.content %></p>
                  <p>Project: <%= note.project %></p>
                  <p>Person: <%= note.person %></p>
                  <a class="edit" href="/edit/<%= note._id %>">Edit</a>
                  <a class="delete" href="/deletenote/<%= note._id %>">Delete</a>
                </li>
              <% } %>
            <% }); %>
          </ul>
          
        </div>

        <div class="container">
          <h1 class="category-header">In progress</h1>
          <ul id="unstartedNotesList">
            <% notes.forEach(note => { %>
              <% if (note.category === 'In-progress') { %>
                <li>
                  <h2><%= note.title %></h2>
                  <p><%= note.content %></p>
                  <p>Project: <%= note.project %></p>
                  <p>Person: <%= note.person %></p>
                  <a class="edit" href="/edit/<%= note._id %>">Edit</a>
                  <a class="delete" href="/deletenote/<%= note._id %>">Delete</a>
                </li>
              <% } %>
            <% }); %>
          </ul>
        </div>
        
        <div class="container">
          <h1 class="category-header">Completed</h1>
          <ul id="unstartedNotesList">
            <% notes.forEach(note => { %>
              <% if (note.category === 'Completed') { %>
                <li>
                  <h2><%= note.title %></h2>
                  <p><%= note.content %></p>
                  <p>Project: <%= note.project %></p>
                  <p>Person: <%= note.person %></p>
                  <a class="edit" href="/edit/<%= note._id %>">Edit</a>
                  <a class="delete" href="/deletenote/<%= note._id %>">Delete</a>
                </li>
              <% } %>
            <% }); %>
          </ul>
        </div>
      </div>

  </div>
</body>

</html>